<app-header></app-header>
<div class="main main-raised">
  <div class="container">
    <div class="card card-plain">
      <div class="card-body">
        <h3 class="card-title">购物车</h3>
        <br>
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th>产品</th>
                <th class="th-description">颜色</th>
                <th class="th-description">排量</th>
                <th class="text-right">价格</th>
                <th class="text-right">数量</th>
                <th class="text-right">合计</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="img-container">
                    <img src="../../../assets/img/moto/chartlist/timg1.jpg" alt="...">
                  </div>
                </td>
                <td class="td-name">
                  <a href="#jacket">Roadster™</a>
                  <br>
                  <small>哈雷&amp;戴维森</small>
                </td>
                <td>
                  魅惑红
                </td>
                <td>
                  1200CC
                </td>
                <td class="td-number text-right">
                  <small>￥</small>179,900.00
                </td>
                <td class="td-number">
                  1
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                    <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                  </div>
                </td>
                <td class="td-number">
                  <small>￥</small>179,900.00
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Remove item">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="img-container">
                    <img src="../../../assets/img/moto/chartlist/timg2.jpg" alt="...">
                  </div>
                </td>
                <td class="td-name">
                  <a href="#pants">STREET BOB®</a>
                  <br>
                  <small>哈雷&amp;戴维森</small>
                </td>
                <td>
                  亮黑色
                </td>
                <td>
                  1000CC
                </td>
                <td class="td-number">
                  <small>￥</small>149,900.00
                </td>
                <td class="td-number">
                  1
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                    <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                  </div>
                </td>
                <td class="td-number">
                  <small>￥</small>149,900.00
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Remove item">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="img-container">
                    <img src="../../../assets/img/moto/chartlist/timg3.jpg" alt="...">
                  </div>
                </td>
                <td class="td-name">
                  <a href="#nothing">Street™750</a>
                  <br>
                  <small>哈雷&amp;戴维森</small>
                </td>
                <td>
                  珍珠白
                </td>
                <td>
                  750CC
                </td>
                <td class="td-number">
                  <small>￥</small>129,000.00
                </td>
                <td class="td-number">
                  1
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                    <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                  </div>
                </td>
                <td class="td-number">
                  <small>￥</small>129,000.00
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Remove item">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td class="td-total">
                  总计：
                </td>
                <td colspan="1" class="td-price">
                  <small>￥</small>458,800.00
                </td>
                <td colspan="1"></td>
                <td colspan="2" class="text-right">
                  <button type="button" class="btn btn-info btn-round">立即支付 <i
                      class="material-icons">keyboard_arrow_right</i></button>
                </td>
              </tr>
              <!-- <tr>
                <td colspan="6"></td>
                <td colspan="2" class="text-right">
                  <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>