<h2 class="section-title">选你所爱</h2>
<div class="row">
  <div class="col-md-3">
    <app-filter></app-filter>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of productList | paginate: { itemsPerPage: 10, currentPage: p } ">
        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
          <div class="card-header card-header-image">
            <a [routerLink]="['/product-detail', product._id]">
              <img src="{{product.image.url}}"  alt="...">
            </a>
          </div>
          <div class="card-body" style="height: 150px">
            <a mat-flat-button [routerLink]="['/product-detail', product._id]">
              <h4 class="card-title">{{product.title}}</h4>
            </a>
            <p class="description">
              {{product.productBrief}}
            </p>
          </div>
          <div class="card-footer justify-content-between">
            <div class="price-container">
              <span class="price">{{product.price | currency:'CNY':'symbol-narrow'}}</span>
            </div>
            <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title=""
              data-placement="left" data-original-title="Remove from wishlist">
              <i class="material-icons">{{product.is_favorited_by_current_user?'favorite':'favorite_border'}}</i>
            </button>
          </div>
        </div>
        <!-- end card -->
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <div class="col-md-3 ml-auto mr-auto">
        <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load
          more...</button>
      </div>
    </div>
  </div>
</div>