<app-header></app-header>
<ng-container *ngIf="loading">
  <app-loading-spinner>
    Loading the product... Please wait.
  </app-loading-spinner>
</ng-container>
<ng-container *ngIf="isError">
  <app-network-error-component></app-network-error-component>
</ng-container>
<div class="container product-page sidebar-collapse" style="background-color: rgba(0,0,0,0);">
  <div class="main main-raised main-product" *ngIf="!loading">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <div  class="tab-content">
          <div *ngFor="let image of item.images; let i=index" class="tab-pane" [class.active]="i===0" id= "{{image.public_id}}">
            <img src= "{{image.url}}">
          </div>
        </div>
        <ul class="nav flexi-nav" data-tabs="tabs" id="flexiselDemo1">
            <li *ngFor="let image of item.images" class="nav-item">
              <a href="#{{image.public_id}}" class="nav-link" data-toggle="tab">
                <img src="{{image.url}}">
              </a>
            </li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5">
        <h2 class="title"> {{item.title}} </h2>
        <h3 class="main-price">{{item.selling_price | currency:'CNY':'symbol-narrow'}}</h3>
        <div id="accordion" role="tablist">
          <div class="card card-collapse">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  产品描述：
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
              data-parent="#accordion">
              <div class="card-body">
                <p>{{item.productBrief}}</p>
              </div>
            </div>
          </div>
          <div class="card card-collapse">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  设计师推荐：
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                {{item.productDetail}}
              </div>
            </div>
          </div>
          <div class="card card-collapse">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  性能参数：
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
              data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>重量：{{item.weight}}KG</li>
                  <li>长度：{{item.length}}CM</li>
                  <li>宽度：{{item.width}}CM</li>
                  <li>高度：{{item.height}}CM</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pick-size">
          <div class="col-md-6 col-sm-6">
            <label>颜色选择</label>
            <div class="btn-group bootstrap-select"><button type="button"
                class="btn dropdown-toggle select-with-transition" data-toggle="dropdown" role="button"
                aria-labelledby="undefined" title="Rose"><span class="filter-option pull-left">{{item.color}} </span>&nbsp;<span
                  class="bs-caret"><span class="caret"></span></span></button>
              <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="true"><span class="text">玫瑰红 </span><span
                        class="material-icons  check-mark"> done </span></a></li>
                  <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="false"><span class="text">珍珠白</span><span
                        class="material-icons  check-mark"> done </span></a></li>
                  <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="false"><span class="text">明亮黑</span><span
                        class="material-icons  check-mark"> done </span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <label>排量选择</label>
            <div class="btn-group bootstrap-select"><button type="button"
                class="btn dropdown-toggle select-with-transition" data-toggle="dropdown" role="button"
                aria-labelledby="undefined" title="Small"><span class="filter-option pull-left">{{item.output}}CC </span>&nbsp;<span
                  class="bs-caret"><span class="caret"></span></span></button>
              <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="true"><span class="text">800CC </span><span
                        class="material-icons  check-mark"> done </span></a></li>
                  <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="false"><span class="text">1000CC</span><span
                        class="material-icons  check-mark"> done </span></a></li>
                  <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="false"><span class="text">1200CC</span><span
                        class="material-icons  check-mark"> done </span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <label>库存余量</label> 
            <div class="btn-group bootstrap-select">
              <button type="button" class="btn select-with-transition" data-toggle="dropdown" role="button"
                aria-labelledby="undefined" title="Rose" disabled><span style="color: red; font-size: 1rem">{{getItemsAvailable()}}</span>&nbsp;辆<span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="row pull-right">
          <div class="col-sm-6">
            <button mat-raised-button (click)="handleAddtoCartClick(item)" [disabled]="!getItemsAvailable()" 
            class="btn btn-rose btn-round">
              <i class="fa fa-cart-plus"></i> 加入购物车&nbsp;
            </button>
          </div>
          <div class="col-sm-6">
            <button mat-raised-button routerLink="/checkout" class="btn btn-info  btn-round btn-block">
              <i class="fa fa-caret-right"></i> 查看购物车
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
